{% extends 'myauth/layouts/main.html' %}

{% block content %}




<div class="conainer mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-6 col-sm-8 col-10" style="margin-top: 70px;">
            <div class="">
                <div class="card mt-6 shadow">
                    <div class="card-body">
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <h4>Forgotten your password?</h4>
                                <h5>Enter your e-mail address to obtain a new password.</h5>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col">{{ form.as_div }}</div>
                                <div class="col"> <button type="submit" class="btn float-end shadow btn-success mt-3 px-4">Send e-mail</button></div>
                            
                           


                            </div>
                        </form>
                           
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}